<div id="filter1">
  <%= select :opening, :filter_country, @countries, { prompt: "Filter by Country" } %>
</div>
<div id="filter2">
  <%= select :opening, :filter_sector, @sectors, { prompt: "Filter by Interest" } %>
</div>


