<section class="hero">
  <div class="row intro">
    <div class="small-centered medium-uncentered medium-9 large-5 columns">
      <h1>Volunteer abroad.</h1>
      <p>Those who travel, broaden their horizon.<br><em>Those who <strong><em>VOLUNTEER</em></strong> and travel, <br>broaden the horizon of others.</em></p>
    </div>
    <div class="row button_find">
      <div class="small-centered medium-uncentered medium-9 large-5 columns"> <%= link_to "Volunteer Abroad", openings_path, class: "button round" %></div>
    </div>
  </div>
</section>

<!--<div class="row text-center">-->
  <!--<div class="small-12 columns medium-uncentered">-->
    <!--<h1>Kindness</h1>-->
    <!--<h2 class="subheader">Is the root of all good things.</h2>-->
  <!--</div>-->
<!--</div>-->






