<section class="hero">
  <div class="row">
    <div class="large-6 large-push-2 columns">
      <!--<div class="circle-bg quote-1">-->
        <!--<p>I found freedom.<br> Losing all hope was freedom.</p>-->
      <!--</div>-->
    </div>
    <div class="large-6 large-pull-2 columns">
      <!--<div class="circle-bg quote-2">-->
        <!--<p>It's only after we've lost everything that we're free to do anything.</p>-->
      <!--</div>-->
    </div>
  </div>
</section>

<div class="row text-center">
  <div class="small-12 columns">
    <!--<h1>Kindness</h1>-->
    <!--<h2 class="subheader">Is the root of all good things.</h2>-->
  </div>
</div>









