<div class="row">
  <div class="large-4 columns">
    <h1><%= link_to "Kind Tripper", root_path %></h1>
    <!--<h1><img src="http://placehold.it/400x100&text=Logo"/></h1>-->
  </div>
  <div class="large-6 columns">
    <ul class="inline-list right">
      <% if current_user %>
        <li><%= link_to current_user.name, user_path(current_user) %></li>
        <li><%= link_to "logout", logout_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Login", login_path %></li>
        <% end %>
    </ul>
  </div>
</div>
