<nav class="menu">
  <h1 class="name"><i class="fi-widget"></i> TOP GEAR</a></h1>
  <ul class="inline-list">
    <li><a href="#">Home</a></li>
    <li class="active"><a href="#">Blog</a></li>
    <li><a href="#">Pricing</a></li>
  </ul>
  <ul class="inline-list hide-for-small-only account-action">
    <li><a href="#" data-reveal-id="myModal">Login</a></li>
    <li class=""><a class="signup" href="#" data-reveal-id="myModal">Signup</a></li>
  </ul>
  <a class="account hide-for-medium-up" href="#" data-reveal-id="myModal"><i class="fi-unlock"></i></a>
</nav>

